<div class="contenedor">

    <!-- <form class="mx-auto" #form="ngForm" (ngSubmit)="add()"> -->

      <h1>Añadir imagen</h1>

  
      <div class="mb-3">
        <label for="imagen">Selecciona una imagen:</label>
        <input id="imagen" type="file" name="imagen" required class="form-control" accept=".jpg, .png, .jpeg" (change)="upload($event)" multiple>
      </div>

      <div *ngIf="urlImagen">
        <!-- <img src="{{urlImagen}}" alt="" > -->
        <img class="mb-3 imagen-subida" [src]="imagen" *ngFor="let imagen of aImagenes" alt="Imagen subida" >
      </div>
  
      <!-- <div class="contenedor-boton">
        <button type="submit" class="btn btn-md btn-primary" [disabled]="form.invalid">Añadir</button>
      </div> -->

    <!--</form>-->
  
</div>