<div class="contenedor">

    <div class="contenedor-logo">
        <img class="logo" src="assets/img/el-pisito.svg" alt="Icono El Pisito">
        <span class="texto-logo">El Pisito</span>
    </div>

    <div class="contenedor-iconos">

        <a href="#"><i class="fa-brands fa-twitter"></i></a>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
        
    </div>

    <div class="contenedor-aplicaciones">

        <a href="#"><span>TAMBIÉN EN TU MÓVIL</span><i class="fa-brands fa-google-play"></i></a>
        <a href="#"><span>PARA ANDROID</span><i class="fa-brands fa-android"></i></a>
        <a href="#"><span>PARA IOS</span><i class="fa-brands fa-apple"></i></a>
   
    </div>


</div>
