<nav class="navbar navbar-expand-md navbar-light bg-light">
    <div class="container-fluid">

      <a class="navbar-brand contenedor-logo" routerLink="home">
        <img class="imagen-logo" src="assets/img/el-pisito.svg" alt="Logo El Pisito">
        <span class="texto-logo">El Pisito</span>
      </a>



      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">


          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="#">Ver Inmuebles</a>
          </li>


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="add-inmueble">+Inmueble</a></li>
              <li><a class="dropdown-item" routerLink="list-inmueble">Listado Inmuebles</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="add-provincia">+Provincia</a></li>
              <li><a class="dropdown-item" routerLink="list-provincia">Listado Provincias</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="add-poblacion">+Población</a></li>
              <li><a class="dropdown-item" routerLink="list-poblacion">Listado Poblaciones</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" routerLink="add-tipo">+Tipo</a></li>
              <li><a class="dropdown-item" routerLink="list-tipo">Listado Tipos</a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a class="nav-link"  routerLink="login">Login</a>
            
          </li>
   
        </ul>
        
      </div>
    </div>
  </nav>